$primary: #3433fa;
$primary-dark: #100fc1;
$dark-blue: #020285;
$white: #fff;
$black: #000;
$black-1: #2d2d2d;
$dark-grey: #546384;
$medium-grey: #546384;
$light-grey: #e5e5e5;
$blue-light: #eaeafe;
$green-bg: rgba(
  $color: #07c27f,
  $alpha: 0.2,
);
$green: #07c27f;
$red-bg: rgba(
  $color: #ff4b4b,
  $alpha: 0.2,
);
$red: #ff4b4b;
$violet-bg: rgba(
  $color: #9056f0,
  $alpha: 0.2,
);
$violet: #9056f0;
$yellow-bg: rgba(
  $color: #ffbf46,
  $alpha: 0.2,
);
$yellow: #ffbf46;
$border-color: #f6f7f9;
