.input {
  &__outer {
    position: relative;
    width: 100%;
    margin: 24px 0;
    label {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: $black-1;
      display: block;
      margin-bottom: 9px;
    }
    input {
      width: 100%;
      padding: 10px 16px;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 21px;
      color: $medium-grey;
      border: 1px solid #ebeef2;
      box-sizing: border-box;
      border-radius: 4px;
      font-family: "HK Grotesk";
      @include transition;
      &:focus {
        border: 1px solid $primary;
      }
      &:hover {
        border: 1px solid $primary;
      }
    }
  }
  &__text {
    margin: 9px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $medium-grey;
  }
}
